body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.modal {
  display: none;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 1;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.modal-visible {
  display: flex;
}
.modal > .button {
    width:100%;
}

.button> button {
    float:right;
}

