.number{
    width:50px;
    height:50px;
    border:solid 2px red;
    border-radius: 30px;
    margin-right: 15px;
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#Circle{
    display: flex;
    flex-direction: column;
}

#Circle>div{
    display: flex;
    flex-direction: row;
}